.dist{
    background-color: white;
    /*background-image: linear-gradient(to bottom right, rgb(255, 237, 121), rgb(204, 177, 0));*/
    width: 450px;
    /*overflow-y:scroll;*/
    border-style:solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(235, 235, 235);
    height: 400px;
    margin-top:30px;
    margin-bottom:10px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
}

.alieninfo {
    display:flex;
    flex-direction: column;
}

.buildinginfo {

    display:flex;
    flex-direction: column;
}

h2{
    font-weight: bold;
    font-size:25px;
}

#detect {
    /*margin: 5px 0 5px 0;*/
    font-family: 'Verdana', sans-serif;
    border-bottom-style:solid;
    border-bottom-color:black;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#text{
    padding:10px;
}

.faninfo {
    
    display:flex;
    flex-direction: column;
}

.infowrap{
    height:320px;
    overflow-y: scroll;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Tahoma', sans-serif;
}

.detectname {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}