.temp{
    background-color: rgb(235, 235, 235);
    /*background-image: linear-gradient(to bottom right, rgb(187, 238, 255), rgb(57, 202, 250));*/
    width: 450px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
    margin-bottom: 10px;
    border-radius: 20px;
}


#stat{
    border-bottom:solid;
    border-bottom-color:black;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#content{
    margin-bottom: 20px;
}

.p {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
  }

#text{
    font-family: 'Verdana', sans-serif;
    padding: 10px;
}
  