.show{
    display:none;
}

.hidden{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right:400px;
}

.startscreen{
    display:flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    flex-grow:1;
}


.daMap {
    display:flex;
    flex-direction:column;
    margin-right: 80px;
}

.daInput {
    margin-left: 50px;
    display:flex;
    flex-direction: column;
    margin-right:10px;
}

.title{
    font-size: 25px;
    font-family: 'Tahoma', sans-serif;
    animation-name: rightToLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top:10px;
}

#titwrap{
    align-self:center;
    margin-bottom: 10px;
    width: 350px;
    border: 4px solid #000000;
    overflow-x: hidden;
    white-space: nowrap;
    border-radius:10px;
}

@keyframes rightToLeft {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(-500px);
    }
  }

.corners{
    display:grid;
    grid-template-columns: min-content min-content ;
    grid-template-rows:min-content min-content;
    grid-gap:5px;
    align-self: center;
    
}

.butts {
    height:100px;
    width:100px;
    border-radius:20px;
}

.butts:hover {
    background-color: rgb(231, 111, 111);
    color: white;
    box-shadow: 0 0 10px black;
}


.buttName{
    font-size:30px;
    font-weight:bold;
    
}

.statusdisp {
    min-width: fit-content;
    padding: 10px;
    margin: 10px;
    
    border-style:solid;
    border-color: black;
    border-width: 3px;
    border-radius:20px;
    align-self:center;
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.animation{
    align-self:center;
    margin-left: 10px;
    font-size: 40px;
}

#wait{
    background-image: linear-gradient(to bottom right, rgb(102, 207, 102), rgb(193, 253, 193));
}

#do{
    background-image: linear-gradient(to bottom right, rgb(207, 102, 102), rgb(253, 193, 193));
}

.statusMsg {
    font-family: 'Tahoma', sans-serif;
    font-size: 30px;
    color: black;
    align-self:center;
    
}

#nosee{
    display:none;
}

#startmsg{
    background-color: rgb(230, 230, 206);
    padding: 5px;
    border-radius: 10px;
    font-family: 'Tahoma', sans-serif;
}

